body {

    color:  #333;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    margin: 0;
    padding: 0;
    
}

#cabecera {
   background: #1f30c4;
   -webkit-box-shadow: 8px 8px 10px 0px #909085;
   color: white;
   font-weight: bold;
   margin: 0;
   padding: 0.5em;
   
}
#cabecera #logo {
    width: 20px;
    vertical-align: middle;
}
#cabecera #tagline {
    padding: 0 0 0 1rem;
    font-weight: normal;
    font-size: 0.8em;

}
#container {
    width: 70%;
    padding: 10px;
    text-align: left;
    border: 1px solid  #0a0a0a;
    margin: 0 auto;
    -webkit-box-shadow: 8px 8px 0px 0px #909081;
   
    
}

h1 {
    color: #9b2ea3;
    -webkit-text-shadow: 20px 20px 0px 0px #909090);
}

#post {
 
    padding: 1em;
}
#capocha {
    color: #2e9ba3;
    font-size: 20px;

}
strong {
    color: #9b2ea3;
}